.main1 {
    text-align: center;
    justify-content: center;
    display: flex; 
    flex-direction: row;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
    height: 800px;
    /* padding-right: 100px; */
    
  }
  .sub-main1 {
    /* margin-left: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 41%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px; 
    background-color: white;
    float: left;
  }

  .imgs1 {
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
    
  .container-image1 {
    background-color: rgb(223, 221, 221); 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
  }
  
  
  .profile_login1 {
    height: 100px;
    width: 100px;
    border-radius: 130px;
  }
  

  .main1 input{
      width: 60%;
      height: 60px;
      border-radius: 60px;
      box-shadow: inset 0px 0px 25px 0px #888;
      border: none;
      outline: none;
      background-color: #fff;
      font-size: x-large;
  }

  .email1{
      height: 25px;
      width: 25px;
      position: absolute;
      padding: 14px 0 0 25px;
  }

  .name1{
      font-size: 15px;
  }
  .second-input1{
      padding-top: 15px;
      /* width:400px; */
  }
  .second-input2{
    padding-top: 15px;
    /* width:400px; */
}
  #bubble1{
      width: 30%;
      height: 60px;
      border-radius: 60px;
      background-color: #b103fc;
      color: white;
      font-size: 25px;
      border: none;
  }
  .login-button1{
      padding-top: 25px;
  }

  .link1{
      font-size: 25px;
      font-weight: 400;
  }
  

   #j11{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
   }

   .main1 #login1{
    margin-left: 50px;
    display: flex;
    clear: both;
   }

   /* Responsive layout - makes a one column layout instead of a two-column layout */
/* @media (max-width: 800px) {
  .main1 {
    flex-direction: column;
  }
} */

   /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 480px) {

    .main1 {
        text-align: center;
        justify-content: center;
        display: flex; 
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 90px;
        background-color: #e1e3eb;
        /* padding-right: 100px; */
        
      }

  .sub-main1 {

    /* margin-left: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 550px; */
    width: 100%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    /* padding-top: 20px; */
    border-radius: 60px; 
    background-color: white;
    float: left;
    /* flex-direction: column; */
  }

  .main1 input{
    width: 100%;
    height: 60px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: x-large;
}

.imgs1 {
    padding-top: 20px;
    
    justify-content: center;
    display: flex;
  }

#bubble1{
    width: 60%;
    height: 60px;
    border-radius: 60px;
    background-color: #b103fc;
    color: white;
    font-size: 25px;
    border: none;
}
}


  @media (max-width: 780px) {

    .main1 {
        text-align: center;
        justify-content: center;
        display: flex; 
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 90px;
        background-color: #e1e3eb;
        /* padding-right: 100px; */
        
      }

  .sub-main1 {

    /* margin-left: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 550px; */
    width: 80%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    /* padding-top: 20px; */
    border-radius: 60px; 
    background-color: white;
    float: left;
    /* flex-direction: column; */
  }
  .main1 input{
    width: 60%;
    height: 60px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: x-large;
}

#bubble1{
    width: 60%;
    height: 60px;
    border-radius: 60px;
    background-color: #b103fc;
    color: white;
    font-size: 25px;
    border: none;
}
}