#Userprofile .form-control1{
    margin-left: 15%;
    
    
    
    }
    
    .form-control1{
        width:80%;
        
    
    }
    
    #Userprofile{
        margin-top: 60px;
    }
    
     #Userprofile .form-label{
        margin-left: 15%;
        margin-top: 2%;
        width: 29%;
        font-size: 20px;
    }
    

     .justify-content-center{
        margin-bottom: 20%;
        margin-left: 45%;
        margin-top: 3%;
        

    }

    .justify-content-center button{
        width:30%;
    }
    
   /* .saish{
        background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    }*/

   /* .form_div{
        border-color: 4px solid #000000;
        
      
    }*/